.post-form {
    background-color: aquamarine;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.all-posts {
    background-color: aquamarine;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
}